<div class="page-container">
  <header class="page-header">
    <div class="header-content">
      <h1>{{ pageHeaderTitle }}</h1>
      <p class="subtitle">{{ pageHeaderSubtitle }}</p>
    </div>
  </header>

  <app-escalation-directory-tab
    *ngIf="directoryOnlyAccess"
    [isAdminUser]="isAdminUser"
    [canDirectoryWrite]="canDirectoryWrite"
    [canDirectoryDelete]="canDirectoryDelete"
    [directoryContacts]="directoryContacts"
    [loadingDirectoryContacts]="loadingDirectoryContacts"
    (directoryRefresh)="loadDirectoryContacts()">
  </app-escalation-directory-tab>

  <mat-tab-group *ngIf="!directoryOnlyAccess" class="escalation-admin-tabs" animationDuration="0ms">
    <!-- TAB 0: FLUJO DINÁMICO -->
    <mat-tab *ngIf="!directoryOnlyAccess" label="📲 Flujo de llamadas">
      <app-escalation-flow-tab
        [isAdminUser]="isAdminUser"
        [directoryContacts]="directoryContacts"
        (directoryChange)="loadDirectoryContacts()"
        (clientsRefresh)="loadClients()">
      </app-escalation-flow-tab>
    </mat-tab>

    <!-- TAB 1: CONTACTOS Y AGENDA -->
    <mat-tab *ngIf="!directoryOnlyAccess" label="📇 Flujo de Correos">
      <app-escalation-contacts-tab
        [isAdminUser]="isAdminUser"
        [directoryContacts]="directoryContacts"
        (directoryChange)="loadDirectoryContacts()">
      </app-escalation-contacts-tab>
    </mat-tab>

    <!-- TAB 2: RACI -->
    <mat-tab label="📋 Matriz RACI">
      <app-escalation-raci-tab 
        [directoryContacts]="directoryContacts">
      </app-escalation-raci-tab>
    </mat-tab>
  </mat-tab-group>
</div>
